.quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-l);
  padding: var(--space-xs);
  font-weight: bold;
  font-size: var(--font-size-l);

  @include media(tabletAndUp) {
    padding: var(--space-m);
  }

  a {
    color: var(--color-white);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }
}